@import "_reset.scss";

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

html {
	font-size:62.5%;
}


@media (min-width : 800px) { 

}

@media (min-width : 1024px) { 

}

@media (min-width : 1400px) { 

} 