@import url(http://fonts.googleapis.com/css?family=Oswald);

html {
	font-size: 65.5%;
}

body {
	font-family: Arial, sans-serif;

	padding: 0;
	margin: 0;

	background-color: orange;
	box-sizing: border-box;

	font-size: 1.4rem;
}

.location {
	margin: 20px auto 15px;
	
	width: 300px;
	
	font-size: 2.4rem;
	text-align: center;
}

.currentWeather {
	height: 80vh;
	box-sizing: border-box;
}

.currentTemp {
	font-family: Oswald;
	font-size: 4rem;
	text-align: center;
}

.currentTemp span {
	font-size: 6rem;
}

.currentIcon {
	font-size: 18rem;
	text-align: center;
	display: block;
	margin: 40px auto;
}

.currentDescription {
	margin: 15px;
	text-align: center;
	font-size: 1.8rem;
}

.forcast {
	height: 20vh;
	padding:0;
	margin: 0;
}

.forcast li {
	box-sizing: border-box;
	padding: 8px;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 25%;

	text-align:center;
}