body {
	background-color: #385168;
}

.card {
	margin: 25px;
	padding: 25px;

	width: 475px;

	background-color: #FFF;
	border-radius: 25px;

	-webkit-animation: flipIn 0.2s ease-in 1 forwards;
	/* transform-origin: bottom; */
	overflow: hidden;
}

.content {
	-webkit-animation: flyIn 0.6s ease-in 1 forwards;
	transform-origin: left;
}

ul {
	-webkit-animation: swipeIn 1s ease-out 1 forwards;
	transform-origin: left;
}

li {
    display: block;
    float: left;
    margin: 15px;
    background-color: #FFF;
    width: 125px;
    height: 125px;
    transition: -webkit-transform 0.2s;
}

li:hover {
	transform: scale(1.1);
}


@-webkit-keyframes flyIn
{
    from { 
    	transform: translateX(-600px);
    	opacity: 0;
    }

    to { 
    	transform: translateX(0);
    	opacity: 1;
    }
}

@-webkit-keyframes flipIn
{
    0% { 
    	transform: perspective(400px) rotateX(90deg);
    }
	
	60% {
		transform: perspective(400px) rotateX(-40deg);
	}

	70% {
		transform: perspective(400px) rotateX(20deg);
	}

    100% { 
    	transform: perspective(400px) rotateX(0deg);
    }
}

@-webkit-keyframes swipeIn
{
	0% { 
    	transform: perspective(400px) rotateY(90deg);
    }
	
	60% {
		transform: perspective(400px) rotateY(-10deg);
	}

	70% {
		transform: perspective(400px) rotateY(10deg);
	}

    100% { 
    	transform: perspective(400px) rotateY(0deg);
    }
}