<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>

    <body data-ng-app="DigitalBarApp">
        <div class="container" data-ng-controller="barController">
            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" data-ng-model="myName"/>
                <p ng-if="myName">Hello {{myName}}, order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">

                <div class="orderAdd">
                    <input type="text" placeholder="Zoek een product" data-ng-model="search"/>

                    <ul class="productList" data-ng-if="products">
                        <li data-ng-repeat="product in products | filter:search">
                            <span class="name">{{product.name}}</span>
                            <small class="quantity">{{product.quantity || 0}}</small>
                            <amount-control qty="product.quantity"></amount-control>
                        </li>
                    </ul>
                    <button class="action" data-ng-click="postOrderToApi()">Send your order</button>
                    <p ng-if="status.orderSent">Your order has been added!</p>
                </div>


                <div class="addProduct">
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Productnaam" data-ng-model="productName"/>
                    </div>
                    <button class="action" data-ng-click="addProduct(productName)">Add product</button>
                </div>
            </div>
        </div>

        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
            // Insert Angular magic here

            // API URL: 'http://imd.district01.be'
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)

            var App = angular.module('DigitalBarApp', []);

            App.controller('barController', [
                '$scope',
                '$http',
                function ($scope, $http) {

                    var init = function () {

                        getAllProductsFromApi();
                    }

                    var config = {
                        apiUrl: 'http://imd.district01.be'
                    };

                    var getAllProductsFromApi = function() {

                        $http.get(config.apiUrl + '/product').
                        success(function(data, status, headers, config) {
                            
                            $scope.products = data;

                            //console.log(data);
                            //console.log(status);
                        }).
                        error(function(data, status, headers, config) {
                            console.log(data);
                            console.log(status);
                        });
                    }

                    $scope.postOrderToApi = function() {

                        //lodash
                        var products = _.filter($scope.products, function(product) {
                            return product.quantity > 0;
                        });

                        var order = {
                            username: $scope.myName,
                            products: products
                        };

                        $http.post(config.apiUrl + '/order', order).
                        success(onPostComplete).
                        error(function(data, status, headers, config) {
                            console.log(status);
                            console.log(data);
                        });

                        var onPostComplete = function(data, status, headers, config) {
                            console.log(status);
                            console.log(data);
                        };
                    }

                    $scope.addProduct = function(productName) {

                        var product = {
                            name: productName
                        };

                        $http.post(config.apiUrl + '/product', product).
                        success(function(data, status, headers, config) {
                            console.log(status);
                            console.log(data);
                            getAllProductsFromApi();
                        }).
                        error(function(data, status, headers, config) {
                            console.log(status);
                            console.log(data);
                        });
                    }

                    init();
            }]);
    
            App.directive('amountControl', function(){
                return {
                    template: '<button ng-click="qty = qty + 1">+</button><button ng-click="qty = (qty > 0 ? qty - 1 : 0)">-</button>',
                    restrict: 'AEC',
                    scope: {
                    qty: '=qty'
                    },
                    link: function ($scope, element, attributes) {
                    }
                };
            });
        </script>

    </body>

</html>
