extends ../layout

block content
  h1 Drinks
  p Hey Hey Hey
  ul
   li
    a(href="#" class="drink" data-drink="fanta") Fanta
   li
    a(href="#" class="drink" data-drink="cola") Cola
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/drinks.js")