extends ../layout

block content
  h1 Drinks
  p Hey Hey Hey
  .fanta#fanta
  .cola#cola
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="https://cdn.socket.io/socket.io-1.2.0.js")
  script(src="/javascripts/scoreboard.js")