body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cola, .fanta {
	width: 50px;
	height: 50px;
	border-radius: 50%;

	margin: 25px;

	transition: all 0.5s ease-in;
}

.cola {
	background: red;
}

.fanta {
	background: orange;
}