body {
    background-color: #006CD5;

    -webkit-animation: bgTransition 0.5s ease-out 1 forwards;
    -webkit-animation-delay: 2.3s;
}

.loadingIcon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFF;
    -webkit-animation: loadingIcon 2.5s ease-out 1 forwards;
}

ul {
    width: 660px;
    margin: 0 auto;
}

.icon {
    float: left;
    display: block;
    visibility: hidden;
    background-color: #FFF;
    margin: 0 10px;
    width: 200px;
    height: 200px;

    -webkit-animation: icons 1s ease-out 1 forwards;
    -webkit-animation-delay: 2.5s;
}

.icon:nth-child(odd) {
    -webkit-animation: icons2 1s ease-out 1 forwards;
    -webkit-animation-delay: 2.5s;
}

@-webkit-keyframes loadingIcon
{
    0% { 
        transform: translateY(600px);
    }

    40% { 
        transform: translateY(50px);
    }

    90% { 
        transform: translateY(100px);
    }

    100% { 
        transform: translateY(-150px);
    }
}

@-webkit-keyframes icons
{
    0% { 
        visibility: visible;
        transform: translateY(700px);
    }

    65% { 
        transform: translateY(-50px);
    }

    86% {
        transform: translateY(30px);
    }

    100% { 
        visibility: visible;
        transform: translateY(0px);
    }
}

@-webkit-keyframes icons2
{
    0% { 
        visibility: visible;
        transform: translateY(700px);
    }

    52% { 
        transform: translateY(-30px);
    }

    84% {
        transform: translateY(20px);
    }

    100% { 
        visibility: visible;
        transform: translateY(0px);
    }
}

@-webkit-keyframes bgTransition
{
    100% { 
        background-color: orange;
    }
}