extends layout

block content
  h1 Chat App
  ul#messages
  .panel.panel-default
    .panel-heading Schrijf een bericht:
    .panel-body
      form(action="")
        .form-group
          label(for="author") Uw naam:
          input#author.form-control(type="text" name="author")
        .form-group
          label(for="message") Uw bericht:
          textarea#message.form-control(type="text" name="message")
        button#send.btn.btn-default(type="submit") Send!
  script(src="/javascripts/jquery-2.1.3.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/chat.js")