body
{
    font-family: Helvetica;
    padding: 1em;
}

li
{
    background-color: #33aafa;
}

.high
{
    background-color: #D43257;
}

.medium
{
    background-color: #ffe92a;
}

.low
{
    background-color: #a9e228;
}

ul.todo
{
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

ul#todo li
{
    padding: 0 0.5em;
    margin: 0;
    width: 500px;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;

    /* this is where the magic happens */
    height: 0;
    transition: height 0.1s linear;
    /* define what to transition and how fast to do it */
    -webkit-animation: flipIn 0.2s ease-in 1 forwards;
    transform-origin: top;
}

@-webkit-keyframes flipIn
{
    0% { 
        transform: perspective(400px) rotateX(45deg);
    }

    100% { 
        transform: perspective(400px) rotateX(0deg);
    }
}

ul#todo li.appear
{
    /* this is where the magic happens */
    height: 1em;
    padding: 0.5em;
    transform: none;
    border: 1px solid white;
}

#button-add
{
    color: #6e6e6e;
    border: 1px solid #c3c3c3;
    font-size: 11px;
    text-transform: uppercase;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 2px;
}