.circle {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
}

.circle1 {
    background-color: red;
}

.startAnimation1 {
    -webkit-animation: pop1 1s ease-out 1 forwards;
  	/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
}

.circle2 {
    background-color: blue;
}

.startAnimation2 {
    -webkit-animation: pop2 1s ease-out 1 forwards;
}

.circle3 {
    background-color: green;
}

.startAnimation3 {
    -webkit-animation: pop3 1s ease-out 1 forwards;
}

@-webkit-keyframes pop1
{
    from { 
    
    }

    to { 
    	transform: translateX(100px);
    }
}

@-webkit-keyframes pop2
{
    from { 
    
    }

    to { 
    	transform: translate(100px, 100px);
    }
}

@-webkit-keyframes pop3
{
    from { 
    
    }

    to { 
    	transform: translateY(100px);
    }
}